.button {
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;

  font-size: 15px;
  line-height: 1.2;
  color: #fff;
  background-color: #1873e9;
  cursor: pointer;
}
.button:hover {
  background-color: #0921ad;
}

.userContent {
  display: flex;
  align-items: baseline;
}
